.contactus-container {
  min-height: 100vh;
  text-align: center;
  background-color: $middle-gray;

  .row.info {
    margin-bottom: 45px;
  }

  .row {
    section {
      text-align: left;

      .header {
        line-height: 16px;
        margin-top: 30px;
        font-size: 16px;
      }

      .content.contact {
        margin-top: 43px;
      }
    }
  }

  .btn {
    padding: 9px 19px;
    color: #ffffff;
    background-color: #6f624f;
  }
}

#contact_message {
    height: 112px;
}

#map {  
  iframe {
    min-width: 100%;
    min-height: 280px;
    margin-bottom: 17px;
  }
}

.contactus-container > section {
  .content {
    font-size: 14px;
  }
}