$font-color: #6f624f;

.intro-container {
  min-height: calc(100vh - 46px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  background: url("intro-background.png") no-repeat center;
  background-size: cover;

  .intro-button {
    margin-top: 20px;
    .btn {
      height: 40px;
      color: $font-color;

      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 500;
      
      background-color: Transparent;
      border: 2px $font-color solid;
      border-radius: 0;
    }
  }
}