.intro-container {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url("intro-background.png") no-repeat center;
  background-size: cover;
  
  section {
    .header {
      font-size: 36px;
    }
    .content {
      color: $dark-brown;
      width: 70%;
    }
  }
  .intro-button {
    margin-top: 20px;
  }
}