.whatweknow-container {
  text-align: center;

  section {
    margin-bottom: 50px;
  }

  .image {
    margin-bottom: 50px;
  }
}

.whatweknow-container .technologies {
  .row-1,
  .row-2 {
    .image {
      height: 82px;
      line-height: 82px;
    }
  }
}
