.whoweare-container {
  // min-height: 100vh;
  text-align: center;
  .introduction {
    .row {
      section {
        .header {
          line-height: 16px;
          font-size: 16px;
        }
      }
    }
    
    .row.about {
      text-align: justify;
      ul {
        padding-left: 15px;
      }
    }
  }
}

.whoweare-container > section {
    .content {
      font-size: 14px;
    }
}