.shared-sidebar-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  .sidebar-logo {
    height: $header-height;
    padding: 8px 6px;
    background-color: $dark-brown;

    img {
      width: height;
    }
  }

  .sidebar-nav {
    min-height: calc(100vh - 46px);
    background-color: $light-brown;
    width: $sidebar-width;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  ul.navbar-nav {
    margin: 0;
  }
}

.sidebar-nav .nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
  border-top: $bright-gray 1px solid;

  &:hover,
  &.active {
    background-color: $lemon-yellow;
    border-top: 1px solid $lemon-yellow;

    & + .nav-item {
      border-top-color: transparent;
    }

    .nav-icon {
      & > img {
        opacity: 0;
      }

      .overlay {
        opacity: 1;
      }
    }
  }

  &.active {
    width: 154px;

    .nav-text {
      display: inline-block;
    }
  }

  a {
    display: inline-block;
    text-align: center;
    padding: 10px 0;

    &:hover {
      background-color: inherit;
    }
  }

  .nav-text {
    color: $white;
    display: none;
    width: 110px;
  }

  // The last nav-item has 1 extra border-bottom
  &:last-child {
    border-bottom: $bright-gray 1px solid;
    &:hover,
    &.active {
      border-color: $lemon-yellow;
    }
  }
}

.nav-icon {
  width: $sidebar-width;
  position: relative;

  .overlay {
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
