@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
// Place all the styles related to the Home controller here.
// They will automatically be extendd in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
a:hover, a:visited{
  text-decoration: none;
  color: transparent;
  background-color: transparent;
}
button{
  background-color: transparent; 
  border: 1px solid transparent;
  outline: 0px;
}
.image-large{
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  .image-bg{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  .image-content{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    img{
      width: 500px;
      margin-top: 0px;
      display: none;
      max-width: 80%;
    }
  }
}
//Structure
.content{
  padding: 30px 0px;
  .title{
    color: #181818;
    font-size: 35px;
    text-align: center;
    margin: 5px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .line{
    width: 60px;
    height: 3px;
    margin: 25px auto;
    background-color: #b6b229;
  }
  .container{
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;
  }
  h4{
    padding: 20px 10%;
    color: #666666;
    font-size: 23px;
    text-align: center;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 1.8px;
    line-height: 1.4;
    span{
      font-weight: 600;
    }
  }
}

//Header
//Navbar
.header-section{
  height: 100%;
  .slider{
    width: 100%;
    // height: 600px;
    background-color: #282828;
    position: relative;
    overflow: hidden;
    .content-slider{
      position: absolute;
      z-index: 1;
      margin-top: 180px;
      width: 100%;
      .content-element{
        h1{
          color: #b6b229;
          text-transform: uppercase;
          text-align: center;
          font-weight: 400;
          margin-top: 10px;
          font-size: 40px;
        }
        h1:first-child{
          color: white;
          font-weight: 300;
          font-family: "Open Sans";
          font-size: 34px;
        }
        p{
          font-size: 18px;
          text-align: center;
          color: white;
          padding: 20px 200px;
          font-weight: 300;
          font-family: "Open Sans";
        }
        .btn-view{
          background-color: #b6b229;
          color: white;
          width: 150px;
          height: 40px;
          font-size: 15px;
          overflow: hidden;
          margin: auto;
          position: relative;
          cursor: pointer;
          text-align: center;
          .hover-btnview{
            width: 100px;
            height: 30px;
            background-color: white;
            position: absolute;
            opacity: 0.2;
            transform: rotate(-42deg);
            top: 5px;
            left: -100px;
            transition: 0.3s;
          }
          .text-btnview{
            margin-top: 10px;
            z-index: 1;
          }
          &:hover{
            .hover-btnview{
              left: 150px;
            }
          }
        }
      }
    }
    .image-slider{
      .image{
        position: absolute;
        height: 600px;
        img{
          width: 100%;
          height: 100%;
          opacity: 0.4;
          transform: scale(1.5);
          transition: 10s;
        }
      }
      .image:nth-child(2), .image:nth-child(3){
        img{
          opacity: 0;
        }
      }
      #img-header{
        position: static;
        opacity: 0;
      }
    }
  }
  .navigation{
    position: static;
    width: 100%;
    height: 71px;
    background-color: #282828;
    z-index: 2;
    // box-shadow: 0px 0px 5px #878787;
    .logo{
      float: left;
      margin-left: 20px;
      margin-top: 5px;
      img{
        width: 60px;
        height: 60px;
        float: left;
      }
      .title{
        float: left;
        margin-left: 8px;
        h1{
          margin-bottom: 5px;
          color: #b6b229;
          font-size: 25px;
          margin-top: 8px;
          text-transform: uppercase;
          letter-spacing: -0.5px;
          word-spacing: -0.5px;
        }
        h2{
          margin-top: 0px;
          font-size: 15px;
          text-transform: uppercase;
          color: white;
        }
      }
    }
    .navbar{
      display: none;
    }
    .menu-content{
      list-style: none;
      float: right;
      margin: 5px 10px 5px 0px;
      padding-left: 10px;
      padding-right: 10px;
      li{
        float: left;
        cursor: pointer;
        color: white;
        .outside{
          border: 1px solid transparent;
          width: 100px;
          height: 40px;
          opacity: 1;
          margin: 10px;
          transform: scale(1);
          transition: 1s;
          position: absolute;
          display: block;
        }
        .inside{
          width: 100px;
          text-align: center;
          height: 40px;
          margin: 10px;
          outline: 1px solid transparent;
          font-size: 14px;
          padding-top: 12px;
          box-shadow: inset 0px 0px 6px transparent;
          transition: 0.5s;
        }
        &:hover{
          .outside{
            transform: scale(1.2);
            height: 50px;
            border: 1px solid #f8b100;
            opacity: 0;
            margin-top: 5px;
          }
          .inside{
            background-color: #b6b229;
            color: white;
            outline: 1px solid transparent;
            box-shadow: inset 0px 0px 6px #b6b229;
          }
        }
      }
      .active{
        background-color: #b6b229;
        color: white;
        outline: 1px solid transparent;
        box-shadow: inset 0px 0px 6px #b6b229;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .header-section{
    .navigation{
      position: static;
      height: 75px;
      .logo{
        float: left;
      }
      .navbar{
        display: block;
        width: 30px;
        float: right;
        margin-right: 20px;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
          margin-top: 25px;
        }
      }
      .menu-content{
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        float: left;
        display: none;
        margin: 0px;
        background-color: #282828;
        li{
          float: none;
          padding-right: 10px;
          .outside{
            display: none;
          }
          .inside{
            width: 100%;
            text-align: left;
            padding-left: 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 950px){
  .header-section{
    .slider{
      .content-slider{
        .content-element{
          p{
            font-size: 18px;
            text-align: center;
            color: white;
            padding: 20px 10%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px){
  .header-section{
    .slider{
      .content-slider{
        margin-top: 80px;
      }
    }
    .image-slider{
      .image{
        height: 400px !important;
      }
    }
  }
}
@media screen and (max-width: 650px){
  .header-section{
    .slider{
      .content-slider{
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 368px){
  .header-section{
    .navigation{
      .logo{
        margin-top: 8px;
        img{
          width: 50px;
          height: 50px;
        }
        .title{
          h1{
            font-size: 20px;
          }
          h2{
            font-size: 14px;
          }
        }
      }
    }
  }
}
.row{
  margin-right: 0px;
}
// .container-fluid {
//   margin: 0;
//   padding: 0;
//   .inner-container {
//     width: 1024px;
//     margin: 0 auto;
//   }
// }

//Service
.service-section {
  height: auto;
  background-color: #dedecd;
  .content{
    padding-bottom: 0px;
    .service-center{
      background-color: #eeefe5;
      margin-top: 120px;
      padding: 0px 20px 50px;
    }
    .service-row{
      width: 25%;
      float: left;
      margin-top: -60px;
      text-align: center;
      padding: 0px 20px;
      .service-img{
        width: 110px;
        height: 110px;
        background-color: #eeefe5;
        border-radius: 50%;
        margin: auto;
        position: relative;
        transform: scale(0);
        transition: 0.5s;
        img{
          width: 60%;
          height: 60%;
          margin-top: 20%;
        }
      }
      .text-service{
        opacity: 0;
        h4{
          text-transform: uppercase;
          color: #b6b229;
          font-size: 22px;
          margin-top: 5px;
          font-weight: 400;
          padding: 0px;
        }
        p{
          color: #666666;
          font-size: 15px;
          font-weight: 300;
          font-family: "Open Sans";
          word-spacing: 1.8px;
          line-height: 1.4;
        }
        .line{
          width: 50px;
          height: 1px;
          background-color: #b6b229;
          margin: 30px auto;
        }
      }
    }
  }
}

@media screen and (max-width: 750px){
  .service-section {
    .content{
      .service-center{
        padding: 50px 20px;
      }
      .service-row{
        width: 100%;
        margin-top: 0px;
        .service-img{
          float: left;
        }
        .text-service{
          overflow: hidden;
          text-align: left;
          h4{
            text-align: left;
          }
          .line{
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .service-section {
    .content{
      .service-row{
        padding: 0px;
      }
    }
  }
}

//Skill section
.skill-section{
  width: 100%;
  height: 360px;
  background-image: url(asset_path('bg-skill.png'));
  background-attachment: fixed;
  .skill-content{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 360px;
    .skill-element{
      width: 25%;
      height: 100%;
      float: left;
      text-align: center;
      background-color: transparent;
      padding-top: 100px;
      border-right: 1px solid rgba(229, 229, 229, 0.1);
      cursor: pointer;
      transition: 0.5s;
      .content-01{
        display: inline-block;
        .image-skill{
          width: 110px;
          height: 110px;
          margin: auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .content-02{
        display: none;
        .image-skill{
          width: 100px;
          height: 100px;
          margin: auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      h5{
        color: white;
        font-weight: 400;
        font-size: 25px;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-weight: 300;
        margin-top: 20px;
      }
      p{
        color: white;
        font-size: 15px;
        padding: 0px 10%;
        margin-top: 20px;
        font-weight: 300;
        font-family: "Open Sans";
      }
      &:hover{
        transform: scale(1.08);
        background-color: #b6b229;
        padding-top: 60px;
        .content-01{
          display: none;
        }
        .content-02{
          display: inline-block;
        }
      }
    }
  }
  .skill-bg{
    width: 100%;
    height: 360px;
    background-color: #282828;
    opacity: 0.9;
  }
  &.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 860px){
  .skill-section{
    height: 300px;
    .skill-content{
      height: 300px;
      .skill-element{
        padding-top: 70px;
        .content-02{
          .image-skill{
            width: 85px;
            height: 85px;
            margin-top: -25px;
          }
        }
        .content-01{
          .image-skill{
            width: 95px;
            height: 95px;
          }
        }
      }
    }
    .skill-bg{
      height: 300px;
    }
  }
}
@media screen and (max-width: 650px){
  .skill-section{
    height: 600px;
    .skill-content{
      height: 300px;
      .skill-element{
        width: 50%;
        border-bottom: 1px solid rgba(229, 229, 229, 0.1);
      }
    }
    .skill-bg{
      height: 600px;
    }
  }
}
@media screen and (max-width: 386px){
  .skill-section{
    height: 400px;
    .skill-content{
      height: 200px;
      .skill-element{
        padding-top: 50px;
        .content-02{
          .image-skill{
            width: 55px;
            height: 55px;
            margin-top: -25px;
          }
          p{
            display: none;
          }
        }
        .content-01{
          .image-skill{
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .skill-bg{
      height: 400px;
    }
  }
}

//Work Session
.work-section {
  background: #fafafa;
  padding-top: 10px;
  .content{
    padding-top: 60px;
    padding-bottom: 20px;
    .title{
      color: #282828;
    }
    .line{
      background-color: #b6b229;
    }
    p{
      padding: 20px 20%;
      color: #a5a5a5;
      font-size: 18px;
      text-align: center;
      font-weight: 300;
      line-height: 1.5;
      font-family: 'Open Sans', sans-serif;
    }
    .content-work{         
      width: 100%;
      margin: 20px auto;
      overflow: hidden;
      .content-element {
        width: 25%;
        height: 480px;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
        margin: 40px 0px 0px;
        .content-image{
          width: 90%;
          height: 400px;
          position: absolute;
          overflow: hidden;
          z-index: -1;
          border: 1px solid transparent;
          overflow: hidden;
          margin-left: 5%;
          background-color: #d7d7d7;
          img{
            width: 100%;
            height: 100%;
            transition: 0.5s;
            opacity: 0.7;
          }
        }
        .content-hover{
          width: 90%;
          height: 400px;
          transform: scale(0);
          opacity: 0;
          transition: 0.5s;
          margin-left: 5%;
          .background{
            width: 100%;
            height: 100%;
            background-color: #282828;
            opacity: 0.8;
          }
          a, a:hover{
            background-color: transparent;
          }
          .button-group{
            position: absolute;
            z-index: 1;
            text-align: center;
            margin-top: 180px;
            width: 100%;
            button{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: #b6b229;
              opacity: 1;
              display: inline-block;
              margin-right: 15px;
              &:hover{
                background-color: black;
              }
            }
          }
        }
        h5,h6{
          text-transform: uppercase;
          color: #282828;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 5px;
        }
        h6{
          color: #b6b229;
          font-size: 15px;
          margin-top: 10px;
          font-weight: 300;
          font-family: "Open Sans";
        }
        &:hover{
          .content-image{
            img{
              transform: scale(1.2);
            }
          }
          .content-hover{
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 986px){
  .work-section {
    .content{
      .content-work{         
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 860px){
  .work-section {
    .content{
      p{
        padding: 20px 10%;
      }
      .content-work{         
        width: 550px;
        max-width: 100%;
        .content-element{
          width: 46%;
          margin: 40px 2% 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .work-section {
    .content{
      p{
        padding: 20px 5%;
      }
      .content-work{ 
        width: 300px;
        max-width: 90%;
        .content-element{
          width: 100%;
          .content-image{
            margin-left: 4%;
          }
          .content-hover{
            margin-left: 4%;
          }
        }
      }
    }
  }
}

.bg-portfolio{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  background-image: url(asset_path('bg-port2.jpg'));
  background-attachment: fixed;
  overflow: hidden;
  .bg-black{
    width: 100%;
    height: 100%;
    opacity: 0.8; 
    background-color: #b6b229;
  }
}

// ABOUT SECTION:
.about-section{
  background-color: white;
  .content{
    padding: 60px 0px 40px;
    .about-center{
      width: 700px;
      max-width: 90%;
      margin: 50px auto;
      text-align: center;
      position: relative;
      .slider-image{
        width: 100%;
        height: 260px;
        overflow: hidden;
        position: relative;
        .control-left, .control-right{
          position: absolute;
          top: 60px;
          z-index: 1;
          button{
            color: white;
            background-color: #b6b229;
            width: 50px;
            height: 50px;
            transition: 0.5s;
            &:hover{
              color: #282828;
            }
          }
        }
        .control-left{
          left: 0;
        }
        .control-right{
          right: 0;
        }
        .image-customer{
          width: 100%;
          border-radius: 50%;
          float: left;
          position: absolute;
          margin-left: 100%;
          img{
            width: 180px;
            height: 180px;
            border-radius: 50%;
          }
          .info-customer{
            margin-top: 20px;
            clear: both;
            h5,h6{
              text-transform: uppercase;
              color: #282828;
              font-weight: 400;
              font-size: 20px;
              text-align: center;
              margin-top: 20px;
              margin-bottom: 5px;
              font-weight: 300;
              font-family: "Open Sans";
            }
            h6{
              color: #b6b229;
              font-size: 15px;
              margin-top: 10px;
            }
          }
          &:nth-child(2){
            margin-left: 0px;
          }
        }
        &.container-fluid{
          padding-left: 0px;
          padding-right: 0px;
        }
      }
      .feedback{
        clear: both;
        margin: 40px auto;
        width: 100%;
        padding: 40px 30px;
        border: 1px solid #d7d7d7;
        overflow: hidden;
        position: relative;
        background-color: white;
        // .icon-caret{
        //   position: absolute;
        //   width: 0px;
        //   height: 0px;
        //   top: 0px;
        //   border-bottom: 20px solid red;
        //   border-left: 20px solid transparent;
        //   border-right: 20px solid transparent;
        // }
        .feedback-content{
          position: relative;
          .left, .right{
            position: absolute;
          }
          .left{
            left: 0;
          }
          .right{
            right: 0;
          }
          .text, .text-height{
            position: absolute;
            width: 100%;
            border-radius: 50%;
            float: left;
            font-size: 18px;
            word-spacing: 1.5px;
            color: #a5a5a5;
            line-height: 1.4;
            font-weight: 300;
            font-style: italic;
            font-family: "Open Sans";
            padding: 0px;
            padding: 0px 15px;
            margin-left: 110%;
            &:nth-child(2){
              margin-left: 0px;
            }
          }
          .text-height{
            position: static;
            opacity: 0;
          }
          &.container-fluid{
            padding-right: 0px;
            padding-left: 0px;
          }
        }
      }
      &.container-fluid{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}
@media screen and (max-width: 380px){
  .about-section {
    height: auto;
    .content{
      .about-center{
        .slider-image{
          height: 220px;
          .image-customer{
            img{
              width: 150px;
              height: 150px;
            }
          }
          .control-left, .control-right{
            top: 80px;
            button{
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}


//Team
.team-section {
  background: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  .content{
    padding-top: 30px;
  }
  .line{
    background-color: #b6b229;
    margin-bottom: 40px;
  }
  .team{
    width: 1060px;
    height: auto;
    max-width: 95%;
    margin: auto;
    position: relative;
    overflow: hidden;
    .member{
      background-color: transparent;
      width: 250px;
      height: 450px;
      float: left;
      margin-left: 20px;
      .member-image{
        width: 90%;
        height: 75%;
        margin: auto;
        position: relative;
        img{
          width: 100%;
          height: 90%;
          margin-top: 5%;
          position: absolute;
          transition: 0.3s;
        }
        img:last-child{
          opacity: 0;
        }
        &:hover{
          img:first-child{
            opacity: 0;
          }
          img:last-child{
            opacity: 1;
            transform: scale(1.05);
          }
        }
      }
      .member-info{
        margin-left: 5%;
        h3{
          text-transform: uppercase;
          font-size: 18px;
          color: #282828;
          margin-top: 0px;
          font-weight: 300;
          font-family: "Open Sans";
        }
        h4{
          color: #b6b229;
          font-style: italic;
          font-size: 15px;
          text-align: left;
          padding: 0px;
        }
      }
    }
    .member:nth-child(4n+1){
      margin-left: 0px;
    }
  }
  .control{
    position: absolute;
    width: 100%;
    .btn-left, .btn-right{
      margin-top: 120px;
      border: 1px solid transparent;
      background: #282828;
      width: 50px;
      opacity: 0.5;
      i{
        color: white;
      }
      &:hover{
        opacity: 1;
      }
    }
    .btn-left{
      float: left;
      margin-left: 5%;
    }
    .btn-right{
      float: right;
      margin-right: 5%;
    }
  }
}
@media screen and (max-width: 1058px){
  .team-section {
    .team{
      width: 790px;
      .member:nth-child(2n+1){
        margin-left: 0px;
      }
    }
  }
}
@media screen and (max-width: 860px){
  .team-section {
    .team{
      width: 520px;
      .member:nth-child(n+1){
        margin-left: 0px;
      }
    }
  }
}
@media screen and (max-width: 565px){
  .team-section {
    .team{
      width: 250px;
    }
  }
}

//Contact
.contact-section {
  background: #b6b229;
  .h3.title.work-title{
    color: white;
    padding-top: 60px;
  }
  .line{
    background-color: white;
  }
  p{
    color: #282828;
    font-size: 15px;
    text-align: center;
  }
  .contact-col{
    width: 100%;
    height: 90%;
    float: left;
    z-index: 1;
    .contact-form{
      width: 800px;
      max-width: 95%;
      background-color: transparent;
      margin: 0px auto;
      padding: 0px 10px;
      transition: 1s;
      .text-form{
        padding: 0px;
        .form{
          float: left;
          width: 32%;
          margin-left: 2%;
          h5{
            position: relative;
            top: 30px;
            left: 10px;
            transition: 0.2s;
            font-size: 13px;
            color: #282828;
            text-transform: uppercase;
          }
          input{
            width: 100%;
            border: 1px solid transparent;
            border-bottom: 1px solid transparent;
            background-color: #fafafa;
            color: #282828;
            outline: 0px; 
            height: 40px;
            text-indent: 10px;
            border-radius: 4px;
            &:focus{
              border-bottom: 2px solid #b6b229;
            }
          }
          &:first-child{
            margin-left: 0%;
          }
        }
        .messege-box{
          margin-left: 0%;
          width: 100%;
          margin-top: 10px;
          textarea{
            width: 100%;
            height: 150px;
            border-radius: 4px;
            text-indent: 10px;
          }
        }
        .btn-send{
          clear: both;
          text-align: center;
          button{
            width: 120px;
            height: 40px;
            font-size: 14px;
            margin: 20px 0px;
            text-transform: uppercase;
            background-color: black;
            color: #b6b229;
            border: 1px solid transparent;
            outline: 0px;
            transition: 0.5s;
            margin-top: 50px;
            &:hover{
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .content{
    padding: 0px;
  }
}
@media screen and (max-width: 468px){
  .contact-section{
    padding: 0px 10px;
    .contact-col{
      .contact-form{
        width: 100% !important;
        .text-form{
          .form{
            width: 100%;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
@keyframes contact{
  0% {transform: scale(0);opacity: 0}
  50%{transform: scale(1.05);opacity: 0.5}
  100% {transform: scale(1); opacity: 1}
}


//Footer
footer{
  width: 100%;
  height: auto;
  background-color: #282828;
  padding: 50px;
  .footer-col{
    width: 33.3%;
    float: left;
    padding: 0px 2%;
    h4{
      text-transform: uppercase;
      color: white;
      font-size: 25px;
      font-weight: 300;
      font-family: "Open Sans";
      letter-spacing: -1px;
      span{
        font-weight: 600;
        color: #b6b229;
      }
    }
    h5{
      color: white;
      font-size: 20px;
      font-weight: 300;
      font-family: "Open Sans";
    }
    p{
      color: #a5a5a5;
      font-weight: 300;
      font-family: "Open Sans";
      font-size: 15px;
      margin-top: 30px;
    }
    .infomation{
      width: 100%;
      i{
        float: left;
        color: #b6b229;
        width: 30px;
        margin-top: 3px;
      }
      p{
        margin-top: 10px;
      }
      a{
        button{
          width: 30px;
          height: 30px;
          color: #b6b229;
          background-color: white;
          border-radius: 50%;
          margin-right: 10px;
          transition: 0.5s;
          i{
            width: 0px;
            float: none;
            margin-left: -8px;
          }
          &:hover{
            background-color: black;
            color: white;
          }
        }
        &:hover{
          background-color: transparent;
        }
      }
      &:first-of-type{
        margin-top: 30px;
      }
      &.icon-share{
        margin-top: 20px;
      }
    }
    .post-element{
      width: 100%;
      margin-top: 40px;
      .image-post{
        width: 75px;
        height: 75px;
        float: left;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .content-post{
        overflow: hidden;
        padding-left: 20px;
        h6{
          text-transform: uppercase;
          color: white;
          font-size: 20px;
          font-weight: 300;
          font-family: "Open Sans";
          margin: 0px;
        }
        .line{
          width: 100%;
          height: 1px;
          background-color: #7d7d7d;
          margin-top: 15px;
        }
        .time-post{
          width: 100%;
          margin-top: 10px;
          .time-element{
            width: 50%;
            float: left;
            color: #b6b229;
            i{
              float: left;
              width: 25px;
              margin-top: 3px;
            }
            span{
              color: #a5a5a5;
              font-size: 15px;
              font-weight: 300;
              font-family: "Open Sans";
            }
          }
        }
      }
    }
    .image_map{
      margin-top: 30px;
      width: 100%;
    }
  }
  &.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
  }
}
.footer-section{
  background-color: #b6b229;
  padding-top: 30px;
}
@media screen and (max-width: 1068px){
  footer{
    .footer-col{
      width: 50%;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 835px){
  footer{
    .footer-col{
      width: 100%;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 468px){
  footer{
    .footer-col{
      .post-element{
        .content-post{
          h6{
            font-size: 18px;
          }
          .time-post{
            .time-element{
              span{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    &.container-fluid{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media screen and (max-width: 368px){
  footer{
    .footer-col{
      .post-element{
        .content-post{
          h6{
            font-size: 17px;
          }
          .time-post{
            .time-element{
              span{
                font-size: 11px;
              }
            }
          }
        }
      }
    }
    &.container-fluid{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/*Backtohome button*/
.scrollToTop{
    width: 40px;
    height: 40px;  
    background-color: #b6b229;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
    cursor: pointer;
    z-index: 10;
    i{
      margin-left: 7px;
      margin-top: 5px;
    }
}