$sidebar-width: 44px;
$header-height: 46px;

#home-container {
  margin-left: $sidebar-width;
}

.row {
  margin: 0 0;
}

$font-color: #8c7e6b;
$content-font-color: #6f624f;
section {
  font-family: 'Dosis', sans-serif;
  .header {
    color: $font-color;
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content {
    color: $content-font-color;
    font-size: 12px;
    font-weight: 500;
    margin: 15px auto;
  }
}

.shared-header-container {
  margin-left: $sidebar-width;

  .navbar {

    background: url("header-background.png") no-repeat center center;
    border: 0;
    border-radius: 0;
    height: 46px;
    min-height: initial;
    margin: 0;

    .navbar-nav {
      li { 
        a {
          color: #8f8b86;
          font-family: "Montserrat", sans-serif;
          font-size: 11px;
          font-weight: 500;
          line-height: 12px;
          padding-bottom: 17px;
          padding-top:    17px;
        }
      }
    }

    .navbar-toggle {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    
    .navbar-collapse.in {
      overflow-y: initial;
    }

    .navbar-collapse {
      background-color: rgba(243,240,229,0.64);
    }

    #logo {
      height: 12px;
      margin: 17px 0;
    }
  }
}

$sidebar-logo-bg: #6f624f;
$sidebar-nav-bg:  #8c7e6b;
$active-item-bg:  #f3c339;
$nav-item-border-cl: #999999;

.shared-sidebar-container {
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;

  .sidebar-logo {
    height: $header-height;
    padding: 7px 11px;
    background-color: $sidebar-logo-bg;
    img {
      height: 100%;
    }
  }

  .sidebar-nav {
    background-color: $sidebar-nav-bg;
    min-height: calc(100vh - 46px);
    display: flex;
    align-items: center;

    ul.nav {
      text-align: center;
      
      li.nav-item {
        height: 40px;
        padding: 11px 13px;
        line-height: 0;
        border-bottom: $nav-item-border-cl 1px solid;

        img.nav-icon {
          width: 100%;
        }
      }

      li.nav-item.active-item {
        background-color: $active-item-bg;
        border: 0;
      }
    }
  }
}
