.navbar {
  background: url("header-background.png") no-repeat center center;
  border: 0;
  height: 46px;
  min-height: initial;

  .navbar-nav {
    li { 
      a {
        color: #8f8b86;
        font-family: "Montserrat", sans-serif;
        line-height:    10px;
        padding-bottom: 18px;
        padding-top:    18px;
      }
    }
  }

  #logo {
    height: 12px;
    margin: 17px 0;
  }
}
