nav.navbar {
  min-height:initial;
  height: 46px;
  background: url('header-background.png') no-repeat center center;
  border: none;
  
  .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    color: #8f8b86;
    line-height: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

#logo {
  height: 12px;
  margin: 17px 0;
}